
    body{
      font-family: "Anuphan", sans-serif;
      background-color: #ffe8dd;
      color: white;
      align-items: center;
      margin: 0;
    }

    a {
      color: unset;
    }

    [data-flex] {
      display: flex;
      text-align: center;
      align-items: center;
      justify-self: center;
      gap: 10px;
    }

    body > h1 {
      margin-top: 80px
    }
    .aa{

    width:50%;
    height: 50%;

    }
    h1{
    size: 20px;
    text-align: center;
    }

    path {
        stroke: #ffffff;
    }

    #TH-10{
    fill: var(--pple);
    }

    #TH-11{
    fill: var(--pple);
    }

    #TH-12{
    fill: var(--blue);
    }

    #TH-13{
    fill: var(--blue);
    }

    #TH-14{
    fill: var(--bjt);
    }

    #TH-15{
    fill: var(--bjt);
    }

    #TH-16{
    fill: var(--blue);
    }

    #TH-17{
    fill: var(--pprp);
    }

    #TH-18{
    fill: var(--blue);
    }

    #TH-19{
    fill: var(--noparty);
    }

    #TH-20{
    fill: var(--pple);
    }

    #TH-21{
    fill: var(--blue);
    }

    #TH-22{
    fill: var(--blue);
    }

    #TH-23{
    fill: var(--pple);
    }

    #TH-24{
    fill: var(--ptp);
    }

    #TH-25{
    fill: var(--blue);
    }

    #TH-26{
    fill: var(--ptp);
    }

    #TH-27{
    fill: var(--pprp);
    }


    #TH-30{
    fill: var(--ptp);
    }

    #TH-31{
    fill: var(--blue);
    }

    #TH-32{
    fill: var(--bjt);
    }

    #TH-33{
    fill: var(--ptp);
    }

    #TH-34{
    fill: var(--ptp);
    }

    #TH-35{
    fill: var(--blue);
    }

    #TH-36{
    fill: var(--blue);
    }

    #TH-37{
    fill: var(--blue);
    }

    #TH-38{
    fill: var(--blue);
    }

    #TH-39{
    fill: var(--ptp);
    }

    #TH-40{
    fill: var(--blue);
    }

    #TH-41{
    fill: var(--ptp);
    }

    #TH-42{
    fill: var(--ptp);
    }

    #TH-43{
    fill: var(--ptp);
    }

    #TH-44{
    fill: var(--blue);
    }

    #TH-45{
    fill: var(--blue);
    }

    #TH-46{
    fill: var(--blue);
    }

    #TH-47{
    fill: var(--blue);
    }

    #TH-48{
    fill: var(--blue);
    }

    #TH-49{
    fill: var(--blue);
    }

    #TH-50{
    fill: var(--pple);
    }
    #TH-51{
    fill: var(--noparty);
    }
    #TH-52{
    fill: var(--pple);
    }

    #TH-53{
    fill: var(--ptp);
    }

    #TH-54{
    fill: var(--ptp);
    }

    #TH-55{
    fill: var(--ptp);
    }

    #TH-56{
    fill: var(--kt);
    }

    #TH-57{
    fill:var(--ptp);
    }

    #TH-58{
    fill: var(--noparty);
    } 
    #TH-60{
    fill: var(--blue);
    }

    #TH-61{
    fill: var(--bjt);
    } 

    #TH-62{
    fill: var(--kt);
    } 
    #TH-63{
    fill: var(--pple);
    } 

    #TH-64{
    fill: var(--ptp);
    } 

    #TH-65{
    fill: var(--ptp);
    } 

    #TH-66{
    fill: var(--bjt);
    } 

    #TH-67{
    fill: var(--blue);
    } 

    #TH-68{
    fill: black;
    } 

    #TH-70{
    fill: var(--kt);
    } 

    #TH-71{
    fill: var(--ptp);
    } 

    #TH-72{
    fill: var(--cp);
    } 

    #TH-73{
    fill: var(--blue);
    } 

    #TH-74{
    fill: var(--blue);
    } 

    #TH-75{
    fill: var(--pple);
    } 

    #TH-76{
    fill: var(--utn);
    } 

    #TH-77{
    fill: var(--dem);
    } 

    #TH-80{
    fill: var(--blue);
    } 

    #TH-81{
    fill: var(--blue);
    } 

    #TH-82{
    fill: var(--blue);
    } 

    #TH-83{
    fill: var(--blue);
    } 

    #TH-84{
    fill: var(--blue);
    } 

    #TH-85{
    fill: var(--blue);
    } 

    #TH-86{
    fill: var(--blue);
    } 

    #TH-90{
    fill: var(--blue);
    } 

    #TH-91{
    fill: var(--blue);
    } 

    #TH-92{
    fill: var(--blue);
    } 

    #TH-93{
    fill: var(--blue);
    } 

    #TH-94{
    fill: var(--blue);
    } 

    #TH-95{
    fill: var(--blue);
    } 

    #TH-96{
    fill: var(--blue);
    } 
    #TH-LKSG{
    fill: var(--nocol);
    }

    :root{
        --pprp: #4061A6; 
        --bjt: #312783; /* ภท */
        --utn: #121F91; /* รทสช */
        --pple: #FF6413; /* ปชน */
        --dem: #005CBB; /* ปชป */
        --red: #ff3232; /* พท */
        --ptp: #ff3232; /* พท */
        --kt: #4EC86F; /* กธ */
        --cp: #E90080; /* ชทพ */
        --blue: #150000; /* ยังไม่ทำ */
        --noparty: #bbb; /* ไม่มีใครได้เสียงข้างมาก */
        --nocol: transparent;
    }
    .red{
        color: var(--red);
    }
    .blue{
        color: var(--blue);
    }
    [data-w="50"] {
      width: 50px;
    }
    
    header {
      background: #00d230;
      padding: 8px;
      position: fixed;
      top: 0;
      width: -webkit-fill-available;
    }

    [data-flex-true] {
      display: flex;
    }

    [data-flex-a] {
      gap: 10px;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 24px;
    }

    [data-space-bet] {
      justify-content: space-between;
    }

    [data-tiktok-icon] {
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    [data-padding="20"] {
      padding: 8px 20px;
    }
